@charset "utf-8";
$font-prefix: "../../node_modules/library/src/assets/fonts";
@import "library/src/style/base.scss";
@import "./global";
@import "./typography";

input {
  font: $font-weight-regular normal 100%/1.5 $font-family-default;
  text-size-adjust: 100%;
}

.btn {
	transition: background 0.2s, text 0.2s;
	background: $color-neon;
	color: #fff;
  padding: $spacing / 4;
  border: 0;
  cursor: pointer;
  @include center();
  font-size: 0.8rem;
  box-shadow: $box-shadow--weak;

  &.btn--secondary {
  	background-color: getColor(gray, 80);
  	color: #000;
  }

  &:hover, &:focus {
  	background: #b8aeff;
  	color: #424ab9;
  }

  &.btn--tertiary {
  	border: none;
  	background-color: getColor(gray, 90);
  	color: $color-deep-gray;
  	box-shadow: none;

  	&:hover, &:focus {
	  	background-color: getColor(gray, 90);
	  	color: $color-black;
	  }
  }
}

.input-search {
	cursor: text;
	border: 0;
	display: block;
	width: 100%;
	font-size: 0.9rem;
}

.tag {
	padding: 3px 4px 2px;
	border-radius: $border-radius;
	margin-right: 4px;
	background-color: rgba($color-gray, 0.2);
	color: $color-gray;

	&:last-child {
		margin: 0;
	}

	&.Policy {
		background-color: rgba($color-green, 0.2);
		color: $color-green;
	}
	&.Finance {
		background-color: rgba($color-purple, 0.2);
		color: $color-purple;
	}
}

.until-medium {
	@include media-query($medium) {
    display: none;
    visibility: hidden;
  }
}