@import "./global";

.title {
	color: #fff;
	font-size: 2rem;

	@include media-query($medium) {
    font-size: 4rem;
  }
}

.module-title {
	font-size: 2.3rem;
	line-height: 1;
	font-style: italic;
	letter-spacing: -0.02em;
}

.module-description, .module-footer {
	font-size: 0.8rem;
}
