$box-shadow--default: 0 0 10px rgba(0, 0, 0, 0.1) !default;
$box-shadow--strong: 0 0 20px rgba(0, 0, 0, 0.2) !default;
$box-shadow--heavy: 0 0 30px rgba(0, 0, 0, 0.2) !default;
$box-shadow--weak: 0 0 2px rgba(0, 0, 0, 0.1) !default;